* {
  font-family: Arial;
}

:root {
  --nb-col: 0;
  --nb-lig: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: grid;
  width: fit-content;
}

.controls .inpout-group {
  display: flex;
  gap: 20px;
}

.grid {
  margin-top: 10px;
  gap: 1px;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(var(--nb-col), 1fr);
  grid-template-rows: repeat(var(--nb-lig), 1fr);
}

.cell {
  padding: 10px;
  padding-block: 16px;
  border: 1px dotted black;
  width: fit-content;
}

.cell.selected {
  background: lightgreen;
}

button {
  margin-top: 10px;
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 3px;
  display: block;
}
